[submodule "3rdParty/argparse"]
	path = 3rdParty/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "3rdParty/gprt"]
	path = 3rdParty/gprt
	url = https://github.com/general-purpose-raytracing-toolkit/gprt
[submodule "3rdParty/imgui_gradient"]
	path = 3rdParty/imgui_gradient
	url = git@github.com:natevm/imgui_gradient.git
